footer {
	@include backEnd(#303030);
	height: 387px;
	h1 {
		color: white;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 36px;
	}
	div {
		width: 225px;
		margin-right: 20px;
		margin-top: 40px;
		float: left;
	}
	.formBlog {
		h2 {
			display: block;
			margin-bottom: 17px;
			color: $colorSelect;
			font-size: 13px;
			font-weight: 400;
		}
		.name, address{
			display: inline-block;
			margin-bottom: 12px;
			font-size: 10px;
			font-weight: 400;
			line-height: 12px;
		}
		.name {
			color: $colorSelect;
		}
		address {
			color: #666666;
		}
		time {
			display: block;
			margin-bottom: 14px;
			color: #979797;
			font-size: 10px;
			font-weight: 400;
		}
		p {
			color: #979797;
			font-size: 13px;
			font-weight: 400;
			line-height: 20.8px;
		}
		a {
			display: inline-block;
			margin-top: 15px;
			color: $colorSelect;
			font-size: 13px;
			font-weight: 400;
			text-decoration: none;
		}
	}
	.quickLinks {
		a {
			&:before {
				content: "» ";
				color: white;
			}
			&:after {
				content: "";
				display: inline-block;
				width: 225px;
				height: 1px;
				background-color: #404040;
			}
			display: inline-block;
			margin-bottom: 11px;
			color: $colorSelect;
			font-size: 13px;
			font-weight: 400;
			line-height: 10.5px;
			text-decoration: none;
		}
	}
	.tweets {
		a {
			color: $colorSelect;
			font-size: 13px;
			line-height: 20.8px;
			font-weight: 400;
			text-decoration: none;
		}
		p {
			color: #979797;
			font-size: 13px;
			line-height: 20.8px;
			font-weight: 400;
		}
		&>p{
			margin-bottom: 20px
		}
	}
	.contact {
		margin-right: 0px;
		input, textarea {
			width: 205px;
			height: 15px;
			border: 0;
			border-radius: 14px;
			padding: 10px;
			margin-bottom: 10px;
			background-color: #222222;
			color: white;
		}
		.message {
			resize: none;
			height: 80px;
			width: 205px;
		}
		a {
			display: inline-block;
			padding: 13px 12px;
			border-radius: 10px;
			background-color: $colorSelect;
			color: #303030;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 12px;
			font-weight: 400;
			line-height: 14.4px;
		}
	}
}

.foot {
	@include backEnd(#2b2b2b);
	height: 60px;
	span {
		display: inline-block;
		margin: 23px 0;
		color: #979797;
		font-size: 13px;
		font-weight: 400;
	}
	span:last-child {
		float: right;
	}
}