header {
	@include backEnd(#290000);
	height: 600px;
	h2 {
		display: inline-block;
		width: 183px;
		height: 23px;
		margin-right: 120px;
		margin-top: 41px;
		font-size: 28px;
		font-weight: 400;
		line-height: 28px;
	}
	span {
		width: 155px;
		height: 11px;
		color: #979797;
		font-size: 11px;
	}
	nav {
		float: right;
		margin-top: 43px;
		li {
			height: $heightButton;
			padding-right: 20px;
			padding-left: 20px;
			float: left;
			font-size: 13px;
			font-weight: 400;
			line-height: $heightButton;
			text-transform: uppercase;
			&:hover {
				border-radius: 10px;
				background-color: $colorSelect;
			}
		}
	}
	#slides {
		position: relative;
		height: 420px;
		width: 900px;
		margin-top: 34px;
		.overflow {
			overflow: hidden;
			.inner{
				width: 300%;
				.page {
					float: left;
					width: 33.333333%;
					.discription {
						display: inline-block;
						width: 313px;
						position: relative;
						bottom: 93px;
						margin-right: 97px;
						h1 {
							margin-top: 0px;
							font-size: 46px;
							font-weight: 400;
							line-height: 46px;
						}
						p {
							width: 313px;
							height: 71px;
							margin-top: 31px;
							margin-bottom: 20px;
							color: #979797;
							font-size: 12px;
							font-weight: 400;
							line-height: 19.2px;
						}
						a {
							display: inline-block;
							height: $heightButton;
							padding-left: 20px;
							padding-right: 20px;
							border-radius: 10px;
							background-color: $colorSelect;
							color: white;
							font-size: 13px;
							font-weight: 400;
							line-height: 35px;
							text-decoration: none;
						}
					}
					img {
						display: inline-block;
						border-radius: 50%;
						border: 20px solid #6b6b6b;;
						position: relative;
						bottom: 0px;
					}
				}
			}
		}
		input { display: none; }
		#controls {
			position: absolute;
			width: 100%;
			left: 0;
			top: 190px;
		}
		#controls label {
			display: none;
			cursor: pointer;
		}
		#slide1:checked ~ #controls label:nth-child(2),
		#slide2:checked ~ #controls label:nth-child(3),
		#slide3:checked ~ #controls label:nth-child(1) {
			background-image: url(../img/arrow.png);
			width: 15px;
			height: 28px;
			transform: rotate(180deg);
			float: right;
			// margin: 0 -15-45px 0 0;
			display: block;
		}
		#slide1:checked ~ #controls label:nth-child(3),
		#slide2:checked ~ #controls label:nth-child(1),
		#slide3:checked ~ #controls label:nth-child(2) {
			background-image: url(../img/arrow.png);
			width: 15px;
			height: 28px;
			float: left;
			margin: 0 0 0 -15-45px;
			display: block;
		}
		#slide1:checked ~ .overflow .inner{
			margin-left: 0;
		}
		#slide2:checked ~ .overflow .inner {
			margin-left: -100%;
		}
		#slide3:checked ~ .overflow .inner {
			margin-left: -200%;
		}
	}
}
