section {
	@include backEnd(#5C0000);
	.itemDics {
		display: inline-block;
		width: 225px;
		height: 305px;
		margin-right: 20px;
		margin-top: 60px;
		background-color: white;
		img {
			margin-top: 21px;
			margin-left: 52px;
		}
		h1 {
			display: block;
			margin: auto;
			margin-top: 17px;
			width: 135px;
			height: 55px;
			color: #333;
			font-size: 32px;
			font-weight: 400;
			line-height: 32px;
			text-transform: uppercase;
			text-align: center;
		}
		p {
			display: block;
			margin: auto;
			margin-top: 24px;
			width: 159px;
			height: 47px;
			color: #979797;
			font-size: 12px;
			font-weight: 400;
			line-height: 16.8px;
		}
		&:hover {
			background-color: $colorSelect;
			p {
				color: white;
			}
			h1 {
				color: white;
			}
		}
	}
	h2 {
		display: block;
		width: 228px;
		height: 32px;
		padding: 12px 15px;
		border-radius: 2em;
		margin: auto;
		margin-top: 30px;
		background-color: #303030;
		color: #ffffff;
		font-family: Georgia;
		font-size: 32px;
		font-weight: 400;
		text-transform: uppercase;
		//line left and right
		&:before, &:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			box-sizing: border-box;
			width: 352 + 15px;
			height: 3px;
			background-color: #303030;
		}
		&:before {
			margin-left: -352 - 15px
		}
		&:after {
			margin-right: -352 - 15px;
		}
	}

	.item {
		display: inline-block;
		height: 190px;
		border: 5px solid white;
		margin-right: 30px;
		margin-top: 30px;
		position: relative;
		span {
			display: inline-block;
			width: 153px;
			height: 11px;
			padding: 9px 70px 10px 70px;
			right: 0px;
			bottom: 0px;
			background-color: black;
			position: absolute;
			opacity: 0.6;
			color: white;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
		}
		&:hover {
			border-color: $colorSelect;
			span {
				display: none;
			}
		}
	}
	.last {
		margin-right: 0px;
	}
	.last-string {
		margin-bottom: 60px;
	}
}