footer
	.formBlog
		h1 From The Blog
		h2 Post Title
		span.name Admin, <address> domainname.com</address>
		time Friday, 6th April 2000
		p Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla.
		a(href="") Read More »
	.quickLinks
		h1 Quick Links
		a(href="") Lorem ipsum dolor sit
		a(href="") Amet consectetur
		a(href="") Praesent vel sem id
		a(href="") Curabitur hendrerit est
		a(href="") Aliquam eget erat nec sapien
		a(href="") Cras id augue nunc
		a(href="") Sed a nulla urna
	.tweets
		h1 Latest Tweets
		p <a href="">@namehere</a> Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago
		p <a href="">@namehere</a> Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago
	.contact
		input(type="text" placeholder="Full Name").name
		input(type="email" placeholder="Email Address").email
		input(type="text" placeholder="Subject").subject
		textarea(placeholder="Message").message
		a(href="") submit
.foot
	span Copyright © 2013 Domain Name - All Rights Reserved
	span Template by OS Templates