header
	h2 The Modernist
	nav
		ul
			li home
			li styledemo
			li full width
			li dropdown
			li portfolio
			li gallery
	span Free PSD Website Template
	#slides
		input(checked type="radio", name="slider", id="slide1")
		input(type="radio", name="slider", id="slide2")
		input(type="radio", name="slider", id="slide3")
		.overflow
			.inner
				+slide("1page", "Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.", "", "http://via.placeholder.com/380x380")
				+slide("2page", "Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.", "", "http://via.placeholder.com/380x380")
				+slide("3page", "Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.", "", "http://via.placeholder.com/380x380")
		#controls
			label(for="slide1")
			label(for="slide2")
			label(for="slide3")
		#active
			label(for="slide1")
			label(for="slide2")
			label(for="slide3")