section
	+itemWhithDiscription("http://via.placeholder.com/120x120", "service title", "Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue")

	+itemWhithDiscription("http://via.placeholder.com/120x120", "service title", "Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue")

	+itemWhithDiscription("http://via.placeholder.com/120x120", "service title", "Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue")

	+itemWhithDiscription("http://via.placeholder.com/120x120", "service title", "Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue")(class="last")

	h2 latest work

	+item("http://via.placeholder.com/290x190", "lorem ipsum dolor")
	+item("http://via.placeholder.com/290x190", "lorem ipsum dolor")
	+item("http://via.placeholder.com/290x190", "lorem ipsum dolor")(class="last")

	+item("http://via.placeholder.com/290x190", "lorem ipsum dolor")
	+item("http://via.placeholder.com/290x190", "lorem ipsum dolor")
	+item("http://via.placeholder.com/290x190", "lorem ipsum dolor")(class="last last-string")
