<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/main.css")
body
	include mixin/mixin.pug
	include section/header.pug
	include section/section.pug
	include section/footer.pug
