mixin itemWhithDiscription(url, title, discription)
	.itemDics&attributes(attributes)
		img(src=url, alt="")
		h1= title
		p= discription

mixin item(url, discription)
	.item&attributes(attributes)
		img(src=url, alt="")
		span= discription

mixin slide(title, discription, urlLink, urlImage)
	.page
		.discription
			h1= title
			p= discription
			a(href=urlLink, class="button") Read More Here »
		img(src=urlImage, alt="")
