@mixin backEnd($backgroundColor) {
	width: $widthWorkSpace;
	margin: auto;
	padding-right: ($widthWorkSite - $widthWorkSpace) / 2;
	padding-left: ($widthWorkSite - $widthWorkSpace) / 2;
	background: $backgroundColor;
	color: white;
}